services:
  jaegertracing_win:
    build:
      context: .
      dockerfile: dockerfile-nano
    container_name: jaegertracing_win
    environment:
       - ES_USERNAME=admin
       - ES_PASSWORD=OpenSearch123!
       - ES_TLS_SKIP_HOST_VERIFY=true
    ports:
      - "6831:6831"
      - "6832:6832"
      - "5778:5778"
      - "16686:16686"
      - "14268:14268"
      - "14250:14250"
      - "9411:9411"
    networks:
      - jaeger-network
    depends_on:
      opensearch_win:
        condition: service_healthy
  
  opensearch_win:
    build:
      context: .
      dockerfile: dockerfile-opensearch
    container_name: opensearch_win
    ports:
      - "9200:9200"
      - "9600:9600"
      - "5601:5601"
    networks:
      - jaeger-network
    healthcheck:
      test: ["CMD", "curl", "-k", "-u", "admin:OpenSearch123!", "http://localhost:9200/_cluster/health"]
      interval: 10s
      timeout: 5s
      retries: 30
      start_period: 90s

networks:
  jaeger-network:

