services:
  jaegertracing_win:
    build:
      context: .
      dockerfile: dockerfile-nano
    container_name: jaegertracing_win
    ports:
      - "6831:6831"
      - "6832:6832"
      - "5778:5778"
      - "16686:16686"
      - "14268:14268"
      - "14250:14250"
      - "9411:9411"
    networks:
      - jaeger-network
  
  opensearch_win:
    build:
      context: .
      dockerfile: dockerfile-opensearch
    container_name: opensearch_win
    ports:
      - "9200:9200"
      - "9600:9600"
      - "5601:5601"
    networks:
      - jaeger-network

networks:
  jaeger-network:

